<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../assets/css/index.css">
  <script src="../assets/js/vue.min.js"></script>
</head>
<body>
    <h1>v-model</h1>
    <!-- <hr> -->
    <div id="app">
        <p>原始文本：{{message}}</p>
        <h3>文本框</h3>
        <p>v-model: <input type="text" v-model="message"></p>
        <!-- lazy失去焦點執行修改  懶加載-->
        <p>v-model.lazy: <input type="text" v-model.lazy="message"></p>
        <!-- number 把字串變數字 -->
        <p>v-model.number: <input type="text" v-model.number="message"></p>
        <p>v-model.trim: <input type="text" v-model.trim="message"></p>
        <hr>

        <h3>文本區域</h3>
        <textarea name="" id="" cols="30" rows="10" v-model="message"></textarea>

        <h3>單選按鈕</h3>
        <p>
          <input type="checkbox" id="asdf" v-model="xz">
          <label for="asdf">{{xz}}</label>
        </p>
        <h3>多個單選框綁定一個數組</h3>
        <p>
          <input type="checkbox" id="Jack" value="Jack" v-model="xzArray">
          <label for="Jack">Jack</label>
          <br>
          <input type="checkbox" id="John" value="John" v-model="xzArray">
          <label for="John">John</label>
          <br>
          <input type="checkbox" id="Mike" value="Mike" v-model="xzArray">
          <label for="Mike">Mike</label>
          <p>{{xzArray}}</p>
        </p>
        <hr>

        <h3>單選按鈕</h3>
        <input type="radio" id="one" value="true" v-model="danxuan">
        <label for="one">true</label>
        <input type="radio" id="two" value="false" v-model="danxuan">
        <label for="two">false</label>
        <p>{{danxuan}}</p>
        <hr>

        <h3>選擇列表</h3>
        <p>
          <select name="" id="" v-model="dsfsdf">
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
        </select>
        <p>{{dsfsdf}}</p>

        <select name="" id="" v-model="rerge" multiple>
          <option>A</option>
          <option>B</option>
          <option>C</option>
          <option>D</option>
      </select>
      <p>{{rerge}}</p>
      </p>
    </div>

    <script>
      var aaaa = new Vue({
        el:'#app',
        data:{
          message:'hello Vue!',
          xz:true,
          xzArray:[],
          danxuan:'',
          dsfsdf:'',
          rerge:[]
        }
      })
    </script>
</body>
</html>
